name: Deploy Paper Server on AZURE
# This workflow represents a set of basic End-to-End tests
on:
  push:
    branches: master
  workflow_dispatch:

jobs:
    deploy_pull:
      permissions:
        id-token: write
        contents: read
        actions: read
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@v4.1.4
        - name: Login to Docker Hub
          uses: docker/login-action@v3
          with:
            username: ${{ vars.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}
        - name: Transform docker compose to manifest using Kompose
          id: bake
          uses: azure/k8s-bake@v3
          with:
              renderEngine: 'kompose'
              dockerComposeFile: './docker-compose.yml'
              kompose-version: 'latest'
        - name: Azure login
          uses: azure/login@v2
          with:
            client-id: ${{ secrets.AZ_CLIENT_ID }}
            tenant-id: ${{ secrets.AZ_TENANT_ID }}
            subscription-id: ${{ secrets.AZ_SUBSCRIPTION_ID }}
        - name: Azure Set Kube context
          uses: azure/aks-set-context@v4
          with:
            resource-group: "mc-test-rg"
            cluster-name: "mc-test-cluster"
        - name: Create namespace if doesn't exist
          run: |
            kubectl create namespace mc-ns --dry-run -o json | kubectl apply -f -
        # - name: Try to pull image from docker hub
        #   uses: addnab/docker-run-action@v3
        #   with:
        #     registry: docker.io
        #     image: evilcious/paper-server:latest
        #     options: -v ${{ github.workspace }}:/work -e ABC=123
        #     run: |
        #       echo "Hello World"
        - name: Deploy to AZURE AKS
          uses: Azure/k8s-deploy@v5
          with:
            namespace: 'mc-ns'
            manifests: ${{ steps.bake.outputs.manifestsBundle }}